:root {
    font-size: 10px;
    --main-color: rgba(167, 12, 12, 0.867);
    --black: #131313;
    --bg: #010103;
    --border: 0.1rem solid rgba(255, 255, 255, 0.3);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/* Seção do vídeo */
.img-section {
    margin-top: 8rem; /* espaço para o header */
    width: 100%;
    height: auto; /* altura automática baseada no conteúdo */
    position: relative;
    overflow: hidden;
}

/* Header fixo */
.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 6;
    background: var(--bg);
    border-bottom: var(--border);
    width: 100vw;
}

.header .conteudo-limitado {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 50px;
    padding: 1.5rem 2rem;
}

.header a img {
    height: 6rem;
    margin-left: -8rem;
}

.header nav a {
    position: relative;
    margin: 0 1rem;
    font-size: 1.8rem;
    color: #fff;
    padding-right: 2.5rem;
    transition: color 0.3s ease;
}

.header nav a:hover {
    color: #fff;
}

.header nav a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0%;
    height: 2px;
    background-color: var(--main-color);
    transition: width 0.3s ease;
}

.header nav a:hover::after {
    width: calc(100% - 1.9rem);
}

/* Centraliza conteúdo abaixo do header */
.conteudo-limitado {
    max-width: 1200px;
    margin: 0 auto;
    padding: 3rem 2rem;
}

/* Botão do menu hamburguer (mobile) */
.menu-toggle {
    display: none;
    background: none;
    font-size: 3rem;
    color: white;
    border: none;
    cursor: pointer;
    z-index: 10;
}

/* Estilo padrão do menu */
.menu {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

/* Responsividade */
@media (max-width: 768px) {
    .header .conteudo-limitado {
        flex-direction: row;
        justify-content: space-between;
    }

    .menu-toggle {
        display: block;
    }

    .menu {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: var(--bg);
        flex-direction: column;
        align-items: flex-start;
        padding: 2rem;
        display: none;
    }

    .menu a {
        padding: 1rem 0;
        font-size: 1.6rem;
    }

    .menu.show {
        display: flex;
    }

    .header a img {
        margin-left: 0;
    }
}

.sessao-name {
    background-color: #000;
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.escola-name h1 {
    color: #fff;
    font-size: 8rem;
    font-weight: 400;
    margin-bottom: 2rem;
    font-family: "Playfair Display", serif;
}

.voluntario {
    background-color: #fff;
    color: #000;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 50px;
    gap: 40px;
    flex-wrap: wrap;
}

.img-voluntario img {
    margin-left: -10rem;
    max-width: 600px;
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.sobre-criancas {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sobre-criancas h1 {
    text-align: left;
    font-size: 7rem;
    margin-bottom: 3rem;
}

.sobre-criancas p {
    font-size: 1.5rem;
    width: 60rem;
    margin-bottom: 5rem;
    line-height: 1.6;
}

.botao-link-voluntario {
    display: inline-flex;
    align-items: center;
    padding: 1.8rem 5rem;
    background-color: #000;
    color: #fff;
    font-weight: bold;
    font-size: 1.6rem;
    transition: background-color 0.3s ease;
    width: fit-content;
}

.botao-link-voluntario:hover {
    background-color: #3b3837;
}

@media (max-width: 768px) {
  /* Ajuste da seção .sessao-name */
  .sessao-name {
    margin-top: 1rem;
    height: auto;
    padding: 4rem 2rem;
    text-align: center;
  }

  .escola-name h1 {
    font-size: 5rem;
    margin-top: 3rem;
    margin-bottom: 5rem;
  }

  /* Ajuste da seção .voluntario */
  .voluntario {
    flex-direction: column;
    padding: 3rem 2rem;
    gap: 2rem;
  }

  .img-voluntario img {
    margin-left: 0;
    width: 100%;
    max-width: 100%;
    height: auto;
  }

  .sobre-criancas {
    max-width: 100%;
    align-items: center;
    text-align: center;
  }

  .sobre-criancas h1 {
    font-size: 3rem;
    text-align: center;
  }

  .sobre-criancas p {
    font-size: 1.4rem;
    width: 100%;
    margin-bottom: 3rem;
    line-height: 1.6;
    padding: 0 1rem;
  }

  .botao-link-voluntario {
    font-size: 1.4rem;
    padding: 1.5rem 3rem;
  }
}


.sessao-primeiros-passos {
  background-color: #000;
  color: #fff;
  height: 70vh; /* cobre 70% da altura da tela */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem 2rem;
}

.container-primeiros-passos {
  display: flex;
  flex-direction: row-reverse; /* imagem à direita */
  max-width: 1200px;
  width: 100%;
  gap: 4rem;
  align-items: center;
}

.imagem-primeiros-passos img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
  width: 400px;
  max-height: 100%;
}

.conteudo-primeiros-passos {
  flex: 1;
}

.conteudo-primeiros-passos h1 {
  font-size: 5.3rem;
  font-weight: 400;
  margin-bottom: 2rem;
  color: #fff;
}

.conteudo-primeiros-passos p {
  font-size: 1.6rem;
  line-height: 1.6;
  margin-bottom: 1.5rem;
  color: #fff;
}

@media (max-width: 768px) {
  .sessao-primeiros-passos {
    padding: 3rem 1.5rem;
  }

  .container-primeiros-passos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .imagem-primeiros-passos img {
    display: none;
  }

  .conteudo-primeiros-passos {
    text-align: left;
    width: 100%;
  }

  .conteudo-primeiros-passos h1 {
    font-size: 2.8rem;
    margin-bottom: 1.5rem;
    text-align: center;
  }

  .conteudo-primeiros-passos p {
    font-size: 1.4rem;
    line-height: 1.6;
    margin-bottom: 1.5rem;
    text-align: justify;
  }
}


/* Seção de ministérios geral */
.sessao-ministerios {
    padding: 60px 40px;
    background: #f4f4f4;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
}

/* Cabeçalho */
.sessao-ministerios .cabecalho {
    max-width: 1200px;
    margin: 0 auto 50px auto;
}

.sessao-ministerios h1 {
    font-size: 6rem;
    margin-bottom: 20px;
    font-weight: 400;
    color: #000;
}

.sessao-ministerios p {
    font-size: 2rem;
    margin-bottom: 20px;
    line-height: 1.5;
}

.sessao-ministerios h4 {
    font-size: 2rem;
    margin-bottom: 20px;
    line-height: 1.5;
    font-weight: 450;
}

.input-wrapper {
    position: relative;
    width: 100%;
    max-width: 100%;
    margin-bottom: 30px;
}

.input-wrapper input {
    width: 100%;
    padding: 15px 50px 15px 20px;
    font-size: 1.5rem;
    border: 2px solid #ccc;
    border-radius: 8px;
    outline: none;
}

.input-wrapper svg {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    fill: #888;
}


/* Grade dos ministérios */
.sessao-ministerios .conteudo {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;
    max-width: 1200px;
    margin: 0 auto;
}

/* Cada item */
.sessao-ministerios .conteudo > div {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    transition: transform 0.2s ease;
}

.sessao-ministerios .conteudo > div:hover {
    transform: translateY(-5px);
}

/* Títulos */
.sessao-ministerios .conteudo h2 {
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 15px;
}

.caixa-mulheres {
    background-color: rgb(139, 44, 76);
    color: #000;
}

.caixa-casados {
    background-color: rgb(97, 15, 93);
    color: #000;
}

.caixa-impactados {
    background-color: #1d5c17;
    color: #000;
}

.caixa-morávios {
    background-color: #000000;
    color: #fff;
}

.caixa-homens {
    background-color: #0509dd;
    color: #000;
}

.caixa-separadas {
    background-color: #ecf000;
    color: #000;
}

.botao-contato {
    display: inline-block;
    padding: 12px 28px;
    background: linear-gradient(135deg,  #1d5c17, #2E7D32);
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 30px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
}

.botao-contato:hover {
    background: linear-gradient(135deg,  #1d5c17, #388E3C);
    transform: scale(1.05);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
}

.botao-contato-mulheres {
    display: inline-block;
    padding: 12px 28px;
    background: linear-gradient(135deg, rgb(139, 44, 76), rgb(197, 14, 75));
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 30px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
}

.botao-contato-mulheres:hover {
    background: linear-gradient(135deg, rgb(139, 44, 76), rgb(197, 14, 75));
    transform: scale(1.05);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
}

.botao-contato-homens {
    display: inline-block;
    padding: 12px 28px;
    background: linear-gradient(135deg, #1e1f79, #0509dd);
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 30px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
}

.botao-contato-homens:hover {
    background: linear-gradient(135deg, #1e1f79, #0509dd);
    transform: scale(1.05);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
}

.botao-contato-morávios {
    display: inline-block;
    padding: 12px 28px;
    background: linear-gradient(135deg, #000, #2e2e2e);
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 30px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
}

.botao-contato-morávios:hover {
    background: linear-gradient(135deg, #000, #2e2e2e);
    transform: scale(1.05);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
}

.botao-contato-casais {
    display: inline-block;
    padding: 12px 28px;
    background: linear-gradient(135deg, rgb(97, 15, 93),rgb(161, 14, 154));
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 30px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
}

.botao-contato-casais:hover {
    background: linear-gradient(135deg,  rgb(97, 15, 93),rgb(161, 14, 154));
    transform: scale(1.05);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
}

.botao-contato-separadas {
    display: inline-block;
    padding: 12px 28px;
    background: linear-gradient(135deg, #848601,#ecf000);
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 30px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
}

.botao-contato-casais:hover {
    background: linear-gradient(135deg, #848601,#ecf000);
    transform: scale(1.05);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
}

/* Responsivo */
@media (max-width: 768px) {
    .sessao-ministerios h1 {
        font-size: 2.2rem;
    }

    .sessao-ministerios p {
        font-size: 1rem;
    }

    .sessao-ministerios .conteudo {
        grid-template-columns: 1fr;
    }
}






/* Estilos para o footer */
.bg-dark {
    margin-top: 0rem;
    background-color: #000; /* tom escuro */
}

.text-white {
    color: #fff;
    font-size: 2rem;
    top: 10rem;
}

.text-center {
    text-align: center;
    height: 10rem;
    font-weight: 300;
}
.texto-footer {
    font-size: 1.5rem;
    color: #fff;
    font-weight: 300;
    margin-top: 2rem;
}

.py-4 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

/* Responsividade opcional */
@media (max-width: 600px) {
    .py-4 {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}